@import "tailwindcss";

@theme {
  --color-brand-blue: #0045c4;
  --color-brand-light-blue: #eff6ff;
  --color-brand-cyan: #0ea5e9;

  --font-sans: "Inter", "system-ui", sans-serif;
}

@layer base {
  body {
    @apply bg-[#f8fafc] text-slate-900 antialiased;
  }
}

@utility glass-card {
  @apply bg-white rounded-2xl shadow-sm border border-slate-200;
}
